<?xml version="1.0"?>
<Settings>
	<Reporting>
		<Email>SEND TO EMAIL</Email>
		<SmtpServer>
			<Address>server address</Address>
			<Email>SENT FROM EMAIL</Email>
			<Port>25</Port>
			<Username>SMTP USERNAME</Username>
			<Password>SMTP PASSWORD</Password>
		</SmtpServer>
	</Reporting>
	<Checks>
		<Check>
			<Location>FILE LOCATION FULL PATH</Location>
			<Name>Any sort of name</Name>
			<Conditions>
				<Condition type="modifiedAge" value="24" />
			</Conditions>
		</Check>
		<Check>
			<Location>FILE LOCATION FULL PATH</Location>
			<Name>Any sort of name</Name>
			<Conditions>
				<Condition type="minimumFileSize" value="1" />
			</Conditions>
		</Check>
		<Check>
			<Location>FILE LOCATION FULL PATH</Location>
			<Name>Any sort of name</Name>
			<Conditions>
				<Condition type="minimumFileCount" value="2" />
			</Conditions>
		</Check>
	</Checks>
</Settings>